
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Index</title>
</head>
<body>
    <form method="post" class="border-1 m-3" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label">Uplaod image</label>
            <input class="form-control" type="file" id="formFile" name="stdimage">
        </div>
        <button type="submit" class="btn btn-info" >Uplpad</button>
    </form>
</body>
</html>
